<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6><a class="white-text" href="/">Development Challenge</a></h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6><a class="white-text" href="/calculator">Calculator</a></h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2020 Copyright, Arden Zhong</div>
  </div>
</footer>
